{
    font-family: Arial;
    font-size: 16px;
}

body {
    background-color: rgb(3, 3, 78);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1 {
    font-size: 1cm;
    color: black;
}

h2 {
    font-size: 1cm;
    color: black;
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 152, 194);
}

a:hover {
    text-decoration: underline;
    color: rgb(3, 16, 92);
}